[submodule "Spoitify-Playlist-App-"]
	path = Spoitify-Playlist-App-
	url = https://github.com/codeGobbler/Spotify-Playlist-App-.git
[submodule "Project-Spotify-Playlist-App-"]
	path = Project-Spotify-Playlist-App-
	url = https://github.com/codeGobbler/Spotify-Playlist-App-.git
