* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grandparent {
  width: 100%;
  height: 100vh;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8VekADq1TI5Ofzs4ljZSj4BH8LW0K7Um-cA&usqp=CAU);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-color: #050525;
  background-blend-mode: lighten;
}

.parent {

}

.child {

}

@media screen and (min-width: 250px) {


@media screen and (min-width: 1024px) {

}