/*tag settings*/

/*used global box-sizing to include all divs*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: repeating-linear-gradient(#874785, #561553, #230022);
  min-height: 100vh;
  font-family: 'Bungee Inline', cursive;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

canvas {
  border: 1px, solid, grey;
  margin: auto;
  width: 700px;
  display: block;
  margin-top: 50px;
  background-color: black;
}

/*main header includes nav and logo elements*/
.main-header {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #0A202A;
}

/*div for logo on left side of nav bar*/
.name {
  align-self: start;
}

.logo {
  text-align: center;
  font-size: 20px;
  background-color: #243841;
  border: solid 1px #0A202A;
  margin-left: 1.5em;
  padding: 10px;
  opacity: 80%;
  box-shadow: 0px 0px 4px black;
}

.nav {
  list-style-type: none;
  margin-right: 1.5em;
  padding: 10;
  color: black;
  background-color: #556d77;
  opacity: 80%;
}

/*nav bar links*/
.nav li a {
  text-decoration: none;
  color: white;
}

/*menu button*/
.toggle-btn span {
  width: 45px;
  height: 4px;
  background: white;
  display: block;
  margin-top: 4px;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #222;
}

.btn:active {
  transform: .9s;
  scale: 0.98;
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 100;
  left: 0;
  background: #333;
  min-height: 50vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: width 1s ease-in-out 1s;
}

/*id settings*/

#rules.show {
  position: absolute;
  top: 100;
  left: 0;
  min-height: 50vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(300);
  transition: width 1s ease-in-out 1s;
  background-image: repeating-linear-gradient(#CE8555, #853E10, #371600);
  text-decoration: #0095dd;
}

#header {
  text-align: center;
}

#rules {
  margin: auto;
  text-align: center;
  border: 1px dashed black;
}

/* sidebar div*/
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10em;
  z-index: 1000;
}

/* toggle button */
#sidebar.toggle-btn {
  position: absolute;
  top: 10px;
  right: 300px;
}

/*sidebar active(clicked)*/
#sidebar.active {
  right: 0;
  transition: 0.8s;
}

/*nav bar div*/
#sidebar ul {
  position: relative;
  flex-direction: column;
  margin-top: -0.7em;
  margin-right: 1.2em;
  text-decoration: none;
}

/*individual menu items*/
#sidebar ul li {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 24px 20px;
  list-style-type: none;
  text-decoration: none;
}

/*changes link position on hover*/
#sidebar ul li:hover {
  box-shadow: 0px 0px 4px black;
}

/*=================================================*/

/*special instructions for smaller screens*/
@media screen and (min-width: 250px) {
  .main-header,
  .nav {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    align-items: center;
  }

  canvas {
    width: 50%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%
  }
}
  #sidebar {
    position: absolute;
    height: 10em;
    right: -10em;
    transition: 1.94ms;
  }

  #sidebar .toggle-btn {
    position: absolute;
    top: 10px;
    right: 200px;
  }

  #sidebar ul li:hover {
    box-shadow: none;
  }

  #btn.active {
    opacity: 0%;
  }
}

/*instructions for medium to large screens*/

@media screen and (min-width: 1024px) {
  .main-header {
    flex-direction: inherit;
    justify-content: space-between;
    width: 100%;
  }
}

/* .rules {
  top: 50;
  left: 0;
  min-height: 40vh;
  width: 50px;
  padding: 5px;
  line-height: 1;
  transform: translateX(50);
}

/*id settings*/

/* #rules.show {
  top: 50;
  left: 0;
  min-height: 40vh;
  width: 50px;
  padding: 5px;
  line-height: 1;
  transform: translateX(50);
} */